
/*
    rouge: #eb3b5a
    bleu: #3867d6
    jaune: #f7b731
*/

* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #D5D5D5;
}

#Wrapper {
    text-align: center;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: 'Luckiest Guy';
    font-size: 3em;
    color: #3867d6;
    margin: 20px 0;
}

#tableau {
    position: absolute;
    width: 75vw;
    height: 75vw;
    max-width: 30em;
    max-height: 30em;
    display: block;
    align: center;
    cursor: pointer;
    background: transparent;
    transform: translateY(-100%);
}

#jeu{
    display: block;
    position: relative;
    width: 75vw;
    height: 75vw;
    max-width: 30em;
    max-height: 30em;
}


#alert{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    font-weight: bold;
    display: none;
    background: #3867d6;
}
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #cbcbcb, #cdf5f4, #bcf6ff, #8fc4ff);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.container {
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
}

